.filter-row {
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #F0F0F0;
    padding: .25rem;
    background-color: #F0F0F0;
}

.filter-row h5 {
    color: rgba(0, 0, 0, .5);
    margin-left: .5rem;
    margin-bottom: 0;
}

.filter-row__control {
    margin-left: 0;
    margin-right: 0;
    border-radius: 6px;
}

.btn-filter {
    background-color: #F0F0F0;
    border-color: #F0F0F0;
    color: #808080;
}

.btn-filter:hover,
.btn-filter:active,
.btn-filter:focus {
    background-color: #E2E2E2 !important;
    border-color: #E2E2E2 !important;
    color: rgba(0, 0, 0, .5) !important;
    box-shadow: none !important;
}