# dependencies
/todolist-server/node_modules/
/todolist-client/node_modules/

# testing
/todolist-client/coverage

# production
/todolist-client/build

/todolist-server/.idea/
/todolist-client/.idea/
/.idea/